@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

p{
    font-family: "Caveat";
    font-size: 30px;
    margin: 0;
}

#main{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    gap: 20px;
    top:0px;
    left: 0px;
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    width: 100%;
    height: 100%;
}



#lizka{
    height: auto;
    width: 30%;
}
#songbutton{
    width: 100px;
    background-color: #EEAECA;
}

#aaa{
    position: absolute;
    height: 50px;
    width: 50px;
    right: 485px;
    top:480px;
    transform: scaleX(-1);
}
#jjj{
    position: absolute;
    height: 50px;
    width: 50px;
    left: 490px;
    top:480px;
}