@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

p{
    font-family: "Caveat";
    font-size: 38px;
    margin: 0;
}

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    gap: 20px;
    top:0px;
    left: 0px;
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    width: 100%;
    height: 100%;
}

#ddd{
    position: absolute;
    height: 50px;
    width: 50px;
    top:10px;
    left:665px;
    transform: rotate(0.05turn);
}
#ddd1{
    position: absolute;
    height: 50px;
    width: 50px;
    top:10px;
    left:825px;
    transform: scaleX(-1) rotate(0.05turn);
}

#lizka{
    height: auto;
    width: 40%;
}
#songbutton{
    width: 100px;
    background-color: #EEAECA;
}

#aaa{
    position: absolute;
    height: 75px;
    width: 75px;
    right: 380px;
    top:520px;
    transform: scaleX(-1);
}
#jjj{
    position: absolute;
    height: 75px;
    width: 75px;
    left: 380px;
    top:520px;
}